{# detailsForAdmin #}

{% extends 'base_test.html.twig' %}

{% block title %}Admin Password Change
{% endblock %}

{% block body %}
    <div class="dashboard-wrapper" style="background: #fafafa 0% 0% no-repeat padding-box;border: 1px solid #fff;">
        <div class="dashboard-container">
            <div class="container-fluid dashboard-content ">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            {{ controller_name }}!</h1>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <form method="POST" action="" id="change-password">

                            <div class="form-group">
                                <label for="current_pass">Current Password<span class="required">*</span></label>
                                <input name="current_pass" id="current_pass" class="form-control" type="password" value=""
                                       placeholder="********"
                                       required>
                            </div>

                            <div class="form-group">
                                <label for="password1">New Password<span
                                            class="required">*</span></label>
                                <input name="password1" id="password1" class="form-control" type="password" value=""
                                       placeholder="********"
                                       required>
                            </div>

                            <div class="form-group">
                                <label for="confirm_pass">Confirm Password<span
                                            class="required">*</span></label>
                                <input name="confirm_pass" id="confirm_pass" class="form-control" type="password"
                                       value="" placeholder="********"
                                       required>
                            </div>

                            <div class="msg-pass-info" style="display: none;"></div>

                            <button type="submit" class="btn btn-default form__create" id="student-pass-update">Change Password
                            </button>
                            <button onclick="window.history.back()" type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">Back</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $.validator.addMethod("checkCurrentPass",
                function(value, element) {
                    var result = false;
                    $.ajax({
                        type:"GET",
                        async: false,
                        url: "/user/check-current-pass/" + value,
                        success: function(msg) {
                            result = (msg == "exists") ? true : false;
                        }
                    });
                    return result;
                },
                "The old password you have entered is incorrect. Please try again."
            );

            $('#change-password').validate({
                rules: {
                    current_pass: {
                        required: true,
                        checkCurrentPass: true
                    },
                    password1: {
                        required: true
                    },
                    confirm_pass: {
                        required: true,
                        equalTo: "#password1"
                    }
                },
                messages:{
                    current_pass:{
                        required: "Please enter Current Password.",
                    },
                    password1:{
                        required: "Please enter New Password.",
                    },
                    confirm_pass:{
                        required: "Please enter Confirm Password.",
                        equalTo: "Password does not match! Please try again.",
                    }
                }
            });
        });
    </script>

{% endblock %}
