{% extends 'base_test.html.twig' %}

{% block title %}
    Admin Profile
{% endblock %}

{% block body %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <div class="dashboard-wrapper">

    <div class="dashboard-ecommerce pointing_layout">
        <div class="container-fluid dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title lang" key="classes">
                            My Profile
                        </h2>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {% for message in app.flashes('warning') %}
                        <div class="alert alert-warning">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- end pageheader  -->
    <!-- ============================================================== -->
    <div
            class="container-fluid justify-content-center mt-2 stu__profile"> <!-- CONTENT -->
        <div class="col-md-12 col-sm-12 col-12">
            <form method="POST" action="" id="insert_form" enctype="multipart/form-data" class="mt-0">
                <div class="row">

                    <div class="col-sm-12 col-lg-4">
                        {#<div class="avatar-upload">
                            <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url(../../uploads/img/admins/{{ app.session.get('userPhoto') }});" alt="teacher photo"></div>
                            </div>
                        </div>#}
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' name="photo" id="imageUpload" accept=".png, .jpg, .jpeg"/>
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview"
                                     style="background-image: url(../../uploads/img/admins/{{ app.session.get('userPhoto') }});"
                                     role="img" aria-label="[teacher photo]" alt="teacher photo">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">

                        <div class="form-group">
                            <label for="title">Name</label>
                            <input class="form-control" type="text" name="name" id="title" value="{{ admin.getName() }}">
                        </div>
                        {#<div class="form-group">
                            <label for="designation">Designation</label>
                            <input class="form-control" type="text" name="designation" id="designation"
                                   value="{{ app.session.get('UserRoleName') }}" readonly>
                        </div>#}
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input class="form-control" type="email" name="email" id="email"
                                   value="{{ admin.getEmail() }}">
                        </div>
                        <div class="form-group">
                            <label for="contact_no">Contact</label>
                            <input class="form-control" type="number" name="contact_no" id="contact_no"
                                   value="{{ admin.getContactNo() }}">
                        </div>

                        <input type="hidden" name="id" value="{{ admin.id }}">

                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="update-school-info" class="btn btn-default p-0">
                                    <button type="submit" class="btnClrWhite" form="insert_form">
                                        Save
                                    </button>
                                </a>
                            </div>
                            <div class="col-12 text-right">
                                <a href="change-password" class="btn btn-default update__btn btnClrWhite">
                                    {# <button  class="btnClrWhite"> #}
                                        Change Password
                                    {# </button> #}
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <!-- END CONTENT -->

    </div>{% endblock %}{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imageUpload").change(function () {
            readURL(this);
        });
    </script>

    <script>
        $(document).ready(function () {

            $('#insert_form').validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    contact_no: {
                        required: true,
                        number: true,
                        minlength: 11,
                        maxlength: 11
                    }
                },
                messages: {
                    email: {
                        required: "Please enter E-mail",
                        email: "Your email address must be in the format of name@domain.com"
                    },
                    contact_no: {
                        required: "Please enter Contact Number",
                        number: "Please enter contact no as a numerical value",
                        minlength: jQuery.validator.format("At least {0} characters required!"),
                        maxlength: "Please enter no more than 11 characters"
                    }
                }
            });
        });
    </script>{% endblock %}
