   </div>

    </div>

    </div>

   <!-- Optional JavaScript -->
   <!-- jquery 3.3.1 -->
   <script type="text/javascript" charset="utf8"  src="../../../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
   <!-- bootstap bundle js -->
   <script type="text/javascript" charset="utf8" src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>

   <!-- slimscroll js -->
   <script type="text/javascript" charset="utf8" src="../../../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
   <!-- main js -->

   {#<script src="../../../assets/libs/js/choices.min.js"></script>#}
   <!-- chart chartist js -->
   {#<script src="../../../assets/vendor/charts/chartist-bundle/chartist.min.js"></script>#}
   <!-- sparkline js -->
   {#<script src="../../../assets/vendor/charts/sparkline/jquery.sparkline.js"></script>#}
   <!-- morris js -->
   {#<script src="../../../assets/vendor/charts/morris-bundle/raphael.min.js"></script>#}
    {#<script src="../../../assets/vendor/charts/morris-bundle/morris.js"></script>#}
   <!-- chart c3 js -->
   {#<script src="../../../assets/vendor/charts/c3charts/c3.min.js"></script>#}
    {#<script src="../../../assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>#}
    {#<script src="../../../assets/vendor/charts/c3charts/C3chartjs.js"></script>#}
    {#<script src="../../../assets/libs/js/dashboard-ecommerce.js"></script>#}
   <script type="text/javascript" charset="utf8" src="../../../assets/libs/js/jquery.dataTables.min.js"></script>
   <script type="text/javascript" charset="utf8" src="../../../assets/libs/js/dataTables.responsive.min.js"></script>
   <script type="text/javascript" charset="utf8" src="../../../assets/libs/js/dataTables.bootstrap4.min.js"></script>

   <script type="text/javascript" charset="utf8" src="../../../assets/libs/js/main-js.js"></script>
   <script src="../../../assets/libs/js/year-select.js"></script>

   <script>
       $(document).ready(function () {
           $.noConflict();
           var table = $('#dtTbl').DataTable(
               {
                   "dom": "\"<'row'<'col-7'f><'col-5'l>>\" +\n" +
                       "\"<'row'<'col-sm-12'tr>>\" +\n" +
                       "\"<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>\",",
                   aaSorting: [],
                   "scrollX": true,
                   "pagingType": "full_numbers",
                   language: {
                       search: "Search ",
                       sInfoEmpty: "No entries to show",
                       sInfo: "Showing _TOTAL_ entries",
                       infoFiltered: "(searched from _MAX_ total entries)",
                       lengthMenu: "Show _MENU_"
                   },
               }
           );
       });
       $(document).ready(function () {

           $(".dataTables_filter input")
               .attr("id", "Search__id")
               .css({
                   width: "350px",
                   display: "inline-block",
                   opacity: "1"
               });

           $(".dataTables_filter label")
               .attr("for", "Search__id")
       });
   </script>

   <script>
       function toggleLeftMenu(e) {
           e.classList.toggle("active");
           document.querySelector(".nav-left-sidebar").classList.toggle("active");
           document.querySelector(".nav__header").classList.toggle("active");
       }
       function toggleRightMenu(e) {
           e.classList.toggle("active");
           document.querySelector(".right__nav--position").classList.toggle("active");
           document.querySelector(".nav__header").classList.toggle("activeRight");
       }
   </script>

   <script type="text/javascript" charset="utf8" src="../../../assets/libs/js/jquery-1.11.1.min.js"></script>
   <script type="text/javascript" charset="utf8" src="../../../assets/libs/js/jquery.validate.min.js"></script>
   <script type="text/javascript" charset="utf8" src="../../../assets/libs/js/additional-methods.min.js"></script>
   <script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
   <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.js"></script>

   <script>
       $(function () {
           $("#datepicker").datepicker({dateFormat: 'dd-mm-yy'});

           $('input.timepicker').timepicker({
               timeFormat: 'h:mm p',
               interval: 30,
               // minTime: '10',
               maxTime: '11:59pm',
               // defaultTime: '11',
               startTime: '6:00am',
               dynamic: true,
               dropdown: true,
               scrollbar: false,
               // placeholder:'HH:MM'
           });


       });
   </script>



