      
      </div>
    </div>
  </div>
      <div class="modal-result-data" style="display:none;"></div>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src=""></script><!--  ../assets/js/jquery.js -->
    <script src="../assets/js/jquery-1.8.3.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="../assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../assets/js/jquery.scrollTo.min.js"></script>
    <script src="../assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="../assets/js/jquery.sparkline.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>   


    <!--common script for all pages-->
    <script src="../assets/js/common-scripts.js"></script>

    <script type="application/javascript">

    (function($) {
        $(document).ready(function() {
            $.ajaxSetup( {
                cache: false,
                beforeSend: function() {
                    $('#notification-content').hide();
                    $('#loading').show();
                },
                complete: function() {
                    $('#loading').hide();
                    $('#notification-content').show();
                },
                success: function() {
                    $('#loading').hide();
                    $('#notification-content').show();
                }
            });
            var $container = $("#notification-content");
            $container.load("load_notification.php");
            var refreshId = setInterval(function()
            {
                $container.load('load_notification.php');
            }, 30000);
        });
    })(jQuery);

    </script>

    <script type="application/javascript">

       $(document).ready(function () {    

        $(".top-menu").on("click",".dropdown-toggle", function(){  
          //console.log("dropdown toggole clicked");      
          $(".inbox").niceScroll({styler:"fb",cursorcolor:"#4ECDC4", cursorwidth: '6', cursorborderradius: '10px', background: '#404040', spacebarenabled:false,  cursorborder: '', zindex: '1000'});
        });

       });
    </script>

    

  </body>
</html>
