<div class="dashboard-header app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">

	{% set profile = app.session.get('UserType') == 2 ? "admin-profile" %}

	{% set imagePath = "../" %}
	{% if ( isHasExtraPath is defined and isHasExtraPath == 2) %}
		{% set imagePath = "../../" %}
	{% elseif (isHasExtraPath is defined and isHasExtraPath == 3) %}
		{% set imagePath = "../../../" %}
	{% endif %}

	<div class="app-header header-shadow">
		<div class="app-header__logo">
			<div class="logo-src d-mobile-none">
				<a href="{{ base_url }}orders">
					<img src="{{imagePath}}image/default.png" width="60" height="60" alt="user photo" style="padding: 5px;border-radius: 50%;"/>
				</a>
			</div>
			<div class="school__info__section d-mobile-none">
				<h4>{{ app.session.get('classConnectSchoolName') }}</h4>
			</div>
			<nav>
				<div class="toggle-wrap" onclick="toggleLeftMenu(this)">
					<span class="toggle-bar"></span>
				</div>
			</nav>
		</div>
		<div class="nav__header"></div>
		<div class="app--header__center  d-mobile-none">
			<a class="nav-link nav-icons" href="#" style="margin-right:0px;"></a>
		</div>
		<div class="app-header__content">
			<div class="app-header__content-right">

				<a href="#"><img src="../../../image/help.svg" alt="help"></a>


				<a href="#">
					<img src="../../../assets/img/mail@2x.png" alt="mail">
				</a>
				<a href="{{ base_url }}logout">
					<div class="btn logout-own">
						<span style=""
							  class="lang" key="logOut">Log Out</span>
						<i class="fa fa-sign-out-alt mr-2" aria-hidden="true"></i>

					</div>
				</a>
			</div>
		</div>
		<div
			class="app-header__right" onclick="toggleRightMenu(this)">

			<i class="fa fa-info-circle"></i>

		</div>
	</div>

</div>
