N <header class="header black-bg row">

        <div class="sidebar-toggle-box col-lg-2 col-md-2 col-sm-2">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
            <!--logo start-->
            <!-- <a href="index.php" class="logo"><b>Proactive Monitor</b></a> -->
            <a href="../index.php" class="logo"> '<img alt="School Logo" src="../uploads/img/schoollogo/{{ app.session.get('classConnectSchoolLogo') }}"/></a>
            <div class="school-intro">

            </div>        
            <!--logo end-->

        </div>

        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a href="{{path('message_history')}}" <i class="fa fa-envelope-o"></i></a>
                        {# <a data-toggle="dropdown" class="dropdown-toggle" href="{{path('student_message_history')}}">
                            <i class="fa fa-envelope-o"></i> #}
                            {# <?php 
                                if($_SESSION["inbox"] != 0)
                                {
                                    echo '<span class="badge bg-theme">'.$_SESSION["inbox"].'</span>';
                                }
                                else
                                {
                                    echo '<span class="badge bg-theme"></span>';
                                }
                            ?> #}
                        {# </a> #}
                        {# <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 000 notices</p>
                            </li> #}
                            {# <?php for($i = 0; $i < $_SESSION["inbox"]; $i++) {
                                    date_default_timezone_set('Asia/Dhaka');
                                    $now = new DateTime();
                                    $then = new DateTime($_SESSION["inbox_details"][$i]['creation_time']);
                                    $interval = $then->diff($now);
                                    $year = $interval->y;
                                    $year_in_minute = $year * 365 * 24 * 60;
                                    $month = $interval->m;
                                    $month_in_minute = $month * 30 * 24 * 60;
                                    $day = $interval->d;
                                    $day_in_minute = $day * 24 *60;
                                    $minute = $interval->i;
                                    $total_minute = $minute + $day_in_minute +$month_in_minute +$year_in_minute;
                                ?> #}
                                {# <li>
                                    <a href="javascript:clicked_inbox_list(<?php echo "'".$_SESSION["inbox_details"][$i]['id'].'-'.$_SESSION["inbox_details"][$i]['course_id']."'";?>)"> #}
                                        <!-- <span class="photo"><img alt="avatar" src="../assets/img/ui-zac.jpg"></span>
                                        <span class="subject">
                                        <span class="from">Zac Snider</span>
                                        <span class="time">Just now</span>
                                        </span> -->
                                        {# <span class="subject">
                                        <span class="from"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
                                            <?php echo $_SESSION["inbox_details"][$i]['course_id']; ?>
                                        </span>
                                        <span class="time"><?php //echo $total_minute.' mins.'; ?></span>
                                        <span class="message">
                                            <?php echo $_SESSION["inbox_details"][$i]['notice']; ?>
                                        </span>
                                        </span>
                                    </a>
                                </li> #}
                            {# <?php } ?> #}
                       {#  </ul> #}
                    </li>
                    
                    <li style="padding-left: 8px" id="header_inbox_bar" class="dropdown">
                        <a href="{{path('notification')}}" <i class="fa fa-bell"></i></a>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>

            <div class="logout-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="{{base_url}}logout">Logout</a></li>
                </ul>
            </div>
        </div>
        
    </header>