<div class="nav-left-sidebar sidebar-dark" style="z-index: 2;">
    {% set profile = app.session.get('UserType') == 2 ? "admin-profile" : app.session.get('UserType') == 3 ? "teacher-profile" : app.session.get('UserType') == 4 ? "view-student-profile"  : app.session.get('UserType') == 5 ? "guardian-profile" : "class-connect-admin" %}
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav flex-column">
                <li>
                    <a class="nav-link lang nav-item" key="profile" href="{{ base_url }}{{ profile }}">
                        My Profile</a>
                </li>

                <li>
                    <a class="nav-link lang nav-item" key="profile" href="{{ path('doors') }}">Doors</a>
                </li>

                <li>
                    <a class="nav-link lang nav-item" key="profile" href="{{ path('orders') }}">Orders</a>
                </li>

            </ul>
        </nav>
    </div>
</div>