<aside>
	<div
		id="sidebar" class="nav-collapse col-lg-2 col-md-2 col-sm-2">
		<!-- sidebar menu start-->
		<ul class="sidebar-menu" id="nav-accordion">
			{% set profile = app.session.get('UserType') == 1 ? "adminProfile" : app.session.get('UserType') == 2 ? "teacherProfile" : app.session.get('UserType') == 3 ? "studentProfile" : "super-admin-profile"  %}

			<p class="centered">
				<a href="{{base_url}}{{profile}}"><img src="../assets/img/friends/fr-05.jpg" class="img-circle" width="60"></a>
			</p>
			<h5 class="centered">Name:
				{{ app.session.get('UserName') }}
			</h5>
			<h5 class="centered">User Name:
				{{ app.session.get('UserIdName') }}
			</h5>

			<!-- <li class="mt">																																		            </li> -->

			<li class="menu">

				<a href="{{base_url}}class-connect-admin" {% if app.request.get('_route') == 'class_connect_admin' %}class="active"{% endif %}>
					<i class="fa fa-dashboard"></i>
					<span>Dashboard</span>
				</a>
			</li>

			{% if (app.session.get('UserType') != 1 and app.session.get('UserType') != 4) %}
				<li class="menu">

					<a href="{{path('notice_board')}}">
						<i class="fa fa-tasks"></i>
						<span>Notice Board</span>
					</a>
				</li>
				<li class="menu">
					<a href="{{path('academicCalender')}}">
						<i class="fa fa-tasks"></i>
						<span>Academic Calender</span>
					</a>
				</li>

			{% endif %}

			{% if (app.session.get('UserType') == 2 or app.session.get('UserType') == 3) %}

				<li class="menu">

					<a href="{{path('announcement')}}">
						<i class="fa fa-tasks"></i>
						<span>Announcement</span>
					</a>
				</li>
			{% endif %}

			{% if (app.session.get('UserType') == 3) %}

				<li class="menu">

					<a href="{{path('studentClassRouting')}}">
						<i class="fa fa-tasks"></i>
						<span>Class Routine</span>
					</a>
				</li>
			{% endif %}

			{% if (app.session.get('UserType') == 2) %}

				<li class="menu">

					<a href="javascript:;">
						<i class="fa fa-tasks"></i>
						<span>Class</span>
					</a>
					<ul class="sub-menu">
						<li class="">
							<a class="" href="{{base_url}}class_list">Class List</a>
						</li>

					</ul>
				</li>
			{% endif %}

			{% if (app.session.get('UserType') == 1) %}

				<li class="menu">

					<a href="{{path('notice_board')}}">
						<i class="fa fa-tasks"></i>
						<span>Notice Board</span>
					</a>
				</li>
				<li class="menu">

					<a href="javascript:;">
						<i class="fa fa-tasks"></i>
						<span>Class</span>
					</a>
					<ul class="sub-menu">
						<li class="">
							<a class="" href="{{base_url}}class_list">Class List</a>
						</li>
						<li class="">
							<a class="" href="{{base_url}}class_create">Create Class</a>
						</li>

					</ul>
				</li>

				<li class="menu">

					<a href="javascript:;">
						<i class="fa fa-tasks"></i>
						<span>Subject</span>
					</a>
					<ul class="sub-menu">
						<li class="">
							<a class="" href="{{base_url}}subject_list">Subject List</a>
						</li>
						<li class="">
							<a class="" href="{{base_url}}subject_create">Add Subject</a>
						</li>

					</ul>
				</li>

				<li class="menu">

					<a href="{{path('teacher')}}">
						<i class="fa fa-tasks"></i>
						<span>Teacher</span>
					</a>

				</li>


				<li class="menu">

					<a href="javascript:;">
						<i class="fa fa-tasks"></i>
						<span>Student</span>
					</a>
					<ul class="sub-menu">
						<li class="">
							<a class="" href="{{base_url}}student">Student List</a>
						</li>
						{# <li class=""><a class="" href="{{base_url}}subject_create">Add Subject</a></li> #}

					</ul>
				</li>

				<li class="menu">

					<a href="javascript:;">
						<i class="fa fa-tasks"></i>
						<span>SymDoor</span>
					</a>
					<ul class="sub-menu">

						<li class="">
							<a class="" href="{{base_url}}schoolInfo">SymDoor Info</a>
						</li>
						<li class="">
							<a class="" href="{{base_url}}updateSchoolInfo">Update SymDoor Info</a>
						</li>
						{# <li class=""><a class="" href="{{base_url}}subject_create">Add Subject</a></li> #}

					</ul>
				</li>

				<li class="menu">

					<a href="javascript:;">
						<i class="fa fa-tasks"></i>
						<span>Course</span>
					</a>
					<ul class="sub-menu">
						<li class="">
							<a class="" href="{{base_url}}createCourse">Create Course</a>
						</li>
						<li class="">
							<a class="" href="{{base_url}}courseList">Create List</a>
						</li>
						{# <li class=""><a class="" href="{{base_url}}subject_create">Add Subject</a></li> #}

					</ul>
				</li>

				<li class="menu">

					<a href="{{path('enroll_students')}}">
						<i class="fa fa-tasks"></i>
						<span>Enroll Students</span>
					</a>

				</li>

				<li class="menu">

					<a href="{{path('teacher_how_to_use')}}">
						<i class="fa fa-tasks"></i>
						<span>User Manual</span>
					</a>

				</li>

			{% endif %}

			<!--- Teacher  -->
			{% if (app.session.get('UserType') == 2) %}


				<li class="menu">

					<a href="{{path('teacher_course_list')}}">
						<i class="fa fa-tasks"></i>
						<span>Course List</span>
					</a>
				</li>

				<li class="menu">

					<a href="{{path('assignment')}}">
						<i class="fa fa-tasks"></i>
						<span>Assignment</span>
					</a>
				</li>

				<li class="menu">
					<a href="{{path('attendance')}}">
						<i class="fa fa-tasks"></i>
						<span>Attendance and Mark</span>
					</a>
				</li>

				<li class="menu">
					<a href="{{path('teacher_message')}}">
						<i class="fa fa-tasks"></i>
						<span>Message</span>
					</a>
				</li>
				<li class="menu">
					<a href="{{path('teacher_exam')}}">
						<i class="fa fa-tasks"></i>
						<span> Exam</span>
					</a>
				</li>
			{% endif %}

			{% if (app.session.get('UserType') == 3) %}

				<li class="menu">

					<a href="{{path('student_course_list')}}">
						<i class="fa fa-tasks"></i>
						<span>Course List</span>
					</a>
				</li>

			{% endif %}



			{% if (app.session.get('UserType') == 3) %}
				<li class="menu">
					<a href="{{path('student_assignment')}}">
						<i class="fa fa-tasks"></i>
						<span>Assignment</span>
					</a>
				</li>

				<li class="menu">
					<a href="{{path('student_exam')}}">
						<i class="fa fa-tasks"></i>
						<span>Exam</span>
					</a>
				</li>

				<li class="menu">
					<a href="{{path('class_teacher')}}">
						<i class="fa fa-tasks"></i>
						<span>Class Teacher</span>
					</a>
				</li>

			{% endif %}

			{% if (app.session.get('UserType') == 4) %}
				<li class="menu">
					<a href="{{base_url}}class-connect-school-list" {% if app.request.get('_route') == 'class_connect_school_list' %}class="active"{% endif %}>
						<i class="fa fa-tasks"></i>
						<span>SymDoors</span>
					</a>
				</li>
			{% endif %}

			{% if (app.session.get('classConnectIsClassTeacher') == 1) %}
				<li class="menu">

					<a href="javascript:;">
						<i class="fa fa-tasks"></i>
						<span>Class Teacher</span>
					</a>
					<ul class="sub-menu">
						<li class="">
							<a class="" href="{{base_url}}class_student_list">Student List</a>
						</li>
						<li class="">
							<a class="" href="{{base_url}}class_course_list">Course List</a>
						</li>
					</ul>
				</li>

			{% endif %}


		</ul><!-- sidebar menu end--></div>
</aside>
<!--sidebar end-->
