<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-right right__nav--position">
    <!-- <div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 966px;">     -->
    <div class="navbar-collapse" id="navbarNav2">

        <!-- Information  starts  -->

        <ul class="navbar-nav flex-column" style="padding-bottom: 10px;">
            <li class="nav-item inffo">
                <a class="nav-link lang my_info" href="#" data-toggle="collapse" aria-expanded="true"
                   data-target="#menu-1" aria-controls="menu-1" key="myInformation">
                    My Information
                </a>
                <div id="menu-1" class="collapse submenu show">
                    <ul class="nav flex-column">
                        <li class="sub-nav-item" style="background: white;">
                            <div class="custom-body">
                                <div class="inner-custom-header"></div>
                                <div class="inner-body">

                                    {% set profile = app.session.get('UserType') == 2 ? "adminProfile"  %}

                                    {% set position = app.session.get('UserType') == 2 ? "Admin"  %}

                                    <b class="name_place">{{ app.session.get('userName') }}</b>

                                    <b>{{ position }}</b>

                                    <a href="{{ base_url }}{{ profile }}">
                                        <img src="{{ app.session.get('userPhoto') ? '../../uploads/img/' ~ app.session.get('UserRoleName') | lower ~ 's/' ~ app.session.get('userPhoto') : '../../../image/user.png' }}" width="75px" height="75px" class="square" alt="SymDoor Logo"/>
                                    </a>
                                    <div class="rightbar_info">
                                        Email
                                    </div>

                                    <div class="info_email">
                                        {{ app.session.get('userEmail') }}
                                    </div>

                                    <div class="rightbar_info">
                                        Contact
                                    </div>

                                    <div class="info_email">
                                        {{ app.session.get('ContactNo') }}
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
        <!-- Information End -->


        {% if (app.session.get('UserType') != 1) %}

            <ul class="navbar-nav flex-column">
                <li class="container-rightbar">
                    <div class="container-text-rightbar lang">Notice Board</div>

                    <div id="recent-notices"></div>

                    <div class="container-divlp-rightbar" style="font: Bold 13px/32px Segoe UI;">
                    </div>
                </li>
            </ul>


        {% endif %}
    </div>

    <!-- </div> -->
</nav>