
/* chat */
.main-layout .main {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    order: 3;
    flex: 1;
  }
  .main-layout .main {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1020;
    transition: transform 0.3s ease, visibility 0.3s ease;
    background: #fafbfd;
  }
  .main-layout .main.main-visible {
    visibility: visible;
    transform: translateX(0);
  }
  .chats-tab-open .main .chats {
    display: flex;
  }
  .chat-body {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    min-width: 0;
    width: 100%;
  }
  .chat-body .chat-header {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #e5e9f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn-group-sm > .btn-icon.btn,
  .btn-icon.btn-sm {
    width: calc(1.5rem + 2px);
    line-height: 1.5rem;
  }
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  .btn-minimal {
    color: rgba(33, 37, 41, 0.35);
    background-color: transparent !important;
    border: 0;
    transition: all 0.2s ease;
  }
  .btn-icon {
    height: 3rem;
    width: 3rem;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .align-items-center {
    align-items: center !important;
  }
  .document,
  .media {
    display: flex;
    align-items: flex-start;
    flex: 1;
  }

  .mTop {
    margin-top: -1px;
  }
  .avatar {
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .mr-3,
  .mx-3 {
    margin-right: 1.5rem !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .document .document-body,
  .document .media-body,
  .media .document-body,
  .media .media-body {
    flex: 1;
    align-self: center;
    overflow: hidden;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .chat-body .chat-content {
    flex: 2;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .p-2 {
    padding: 0.75rem !important;
  }
  .main-layout .main.main-visible {
    visibility: visible;
    transform: translateX(0);
  }
  .message {
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
  }
  .message.self {
    text-align: right;
  }
  .message.self .message-content {
    background-color: #f4c33d;
    color: #162a31;
    margin-right: 1.25rem;
    margin-left: 0;
  }
  .message .message-content {
    padding: 1rem 2.25rem;
    background-color: #f5f6fa;
    color: #8094ae;
    margin-left: 1.25rem;
    border-radius: 1.25rem;
    text-align: left;
    display: inline-block;
    max-width: 25rem;
  }
  .message .avatar {
    display: inline-block;
    vertical-align: bottom;
    margin-top: -1.25rem;
  }
  .avatar.avatar-sm {
    height: 2.25rem;
    width: 2.25rem;
    min-width: 2.25rem;
  }
  .avatar {
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .message .message-options > * {
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
  }
  .message .message-content {
    padding: 1rem 2.25rem;
    background-color: #f5f6fa;
    color: #8094ae;
    margin-left: 1.25rem;
    border-radius: 1.25rem;
    text-align: left;
    display: inline-block;
    max-width: 25rem;
  }
  .dropdown,
  .dropleft,
  .dropright,
  .dropup {
    position: relative;
  }
  .chat-body .chat-footer {
    position: relative;
  }
  .btn-minimal {
    color: rgba(33, 37, 41, 0.35);
    background-color: transparent !important;
    border: 0;
    transition: all 0.2s ease;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #495057;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  .chat-body .chat-footer .form-control {
    border: 0;
    border-top: 1px solid #e5e9f2;
    border-radius: 0;
  }
  .emojionearea {
    display: block;
    position: relative !important;
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 14px;
    border: 0;
    border-top: 1px solid #e5e9f2;
  }
  .text-light {
    color: #f8f9fa !important;
  }
  .mb-1,
  .my-1 {
    margin-bottom: 0.375rem !important;
  }
  .rounded-circle {
    border-radius: 50% !important;
  }
  .chat-body .chat-footer .attachment {
    left: 0.75rem;
  }
  .hw-18 {
    height: 1.125rem;
    width: 1.125rem;
  }
  .text-muted {
    color: #adb5bd !important;
  }
  .message.self .message-options {
    flex-direction: row-reverse;
  }
  .message .message-options {
    display: inline-flex;
    align-items: center;
    font-size: 0.75rem;
    color: #adb5bd;
    margin-top: 0.3125rem;
  }
  .avatar img,
  .avatar span {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .radiusHalf {
    border-radius: 50% !important;
  }
  .emojionearea .emojionearea-editor {
    padding: 1.5rem 6.5rem 1.5rem 3rem;
  }
  .emojionearea,
  .emojionearea * {
    box-sizing: border-box;
  }
  .emojionearea .emojionearea-button {
    z-index: 5;
    position: absolute;
    right: 70px;
    top: 23px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
  .chat-body .chat-footer .form-control {
    border: 0;
    border-top: 1px solid #e5e9f2;
    border-radius: 0;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .chat-body .chat-footer > textarea {
    padding: 1.5rem 1rem 1.5rem 4rem;
  }
  .emojionearea .emojionearea-button > div.emojionearea-button-open {
    background-position: 0 -24px;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  .emojionearea-picker .emojionearea-wrapper:after,
  .emojionearea .emojionearea-button > div {
    background-image: url(../../assets/media/controls-light.png);
  }
  .emojionearea .emojionearea-button > div {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    transition: all 0.4s ease-in-out;
  }
  .emojionearea .emojionearea-button > div.emojionearea-button-close {
    background-position: 0 0;
    transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  .emojionearea-picker .emojionearea-wrapper:after,
  .emojionearea .emojionearea-button > div {
    background-image: url(../../assets/media/controls-light.png);
  }
  .emojionearea .emojionearea-button > div {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    transition: all 0.4s ease-in-out;
  }
  .btn-group-sm > .btn-icon.btn,
  .btn-icon.btn-sm {
    width: calc(1.5rem + 2px);
    line-height: 1.5rem;
  }
  .btn-minimal,
  .btn-outline-default:focus {
    box-shadow: none;
  }
  .emojionearea .emojionearea-editor {
    padding: 1.5rem 6.5rem 1.5rem 3rem;
  }
  .emojionearea .emojionearea-editor,
  .emojionearea-editor:focus {
    display: block;
    height: auto;
    max-height: 6.25rem;
    overflow: auto;
    padding: 1.5rem 6rem 1.5rem 2.5rem;
    background-color: transparent;
    border: 0;
    cursor: text;
    margin-right: 1px;
    border-radius: 0;
    box-shadow: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .chat-body .chat-footer .attachment {
    position: absolute;
    left: 0.5rem;
    top: 0.75rem;
    z-index: 1;
  }
  .dropdown .dropdown-menu {
    z-index: 1025;
    font-size: 0.875rem;
  }
  .dropdown-menu[x-placement^="bottom"],
  .dropdown-menu[x-placement^="left"],
  .dropdown-menu[x-placement^="right"],
  .dropdown-menu[x-placement^="top"] {
    right: auto;
    bottom: auto;
  }
  .dropdown .dropdown-menu .dropdown-item {
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
  }
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: rgba(73, 80, 87, 0.8);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  .hw-20 {
    height: 1.25rem;
    width: 1.25rem;
  }
  .emojionearea .emojionearea-editor:empty:before {
    content: attr(placeholder);
    display: block;
    color: #bbb;
  }
  .emojionearea .emojionearea-button {
    z-index: 5;
    position: absolute;
    right: 70px;
    top: 23px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
  .emojionearea .emojionearea-button > div {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    transition: all 0.4s ease-in-out;
  }
  .emojionearea .emojionearea-picker.emojionearea-picker-position-top {
    margin-top: -246px;
    right: 0;
  }
  .hw-24 {
    height: 1.5rem;
    width: 1.5rem;
  }
  .chat-body .chat-footer .send-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 3rem;
    width: 3rem;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mb-1,
  .my-1 {
    margin-bottom: 0.375rem !important;
  }
  .rounded-circle {
    border-radius: 50% !important;
  }
  .emojionearea {
    display: block;
    position: relative !important;
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 14px;
    border: 0;
    border-top: 1px solid #e5e9f2;
  }
  .chat-body .chat-footer .form-control {
    border: 0;
    border-top: 1px solid #e5e9f2;
    border-radius: 0;
  }

  @media screen and (min-width: 1200px) {
    .chat-footer {
      height: auto;
      position: fixed !important;
      bottom: 0;
      width: 68%;
    }
  }
  .message-day {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .message-day-st {
    margin-top: 60px;
  }
  .fxdHght {
    max-height: 65px;
    min-height: 65px;
  }

  .chatFixed {
    position: fixed;
    width: 100%;
    background-color: #fafafa;
    z-index: 10;
    top: 80px;
  }

  .right__nav--position {
    z-index: 20;
  }

  @media screen and (max-width: 768px) {
    .chatFixed {
      position: fixed;
      width: 100%;
      background-color: #fafafa;
      z-index: 10;
      top: 60px;
    }

    .chat-footer {
      height: auto;
      position: fixed !important;
      bottom: 0;
      width: 95%;
    }
    .message-day-st {
      margin-top: 60px;
      padding-bottom: 40px;
    }
  }