.container-main {
    padding-top: 65px;
}
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #fff;
    color: #000;
    font-weight: bold;
    font-size: medium;
}
ul.top-menu > li > .logout {
    font-size: 16px;
}
ul.top-menu > li > a {
    font-size: 22px;
    margin-right: 0px;
} 
.ds {
    padding: 0px;
}
.div-loading {
    display: block;
    width: 100%;
}
.loading {
    display: block;
    float: none;
    margin: 0px auto;
}
.logo {
    max-height: 60px;
}
.logo img {
    max-height: inherit;
}
.logo {
    margin-top: 0px !important;
}

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    /* width: 195px; */
    margin: 16px auto;
    display: block;
}

.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: block;
    font-size: 32px;
    float: none;
    margin: 0px auto;
    width: fit-content;
}
.school-intro {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.logout-menu {
    float: right;
}
.notify-row {
    float: left;
    margin-left: 0px;
}
.phone-error{
	display: none;
	color: #a94442;
	background-color: #f2dede;
	border-color: #a94442;
	padding: 10px;
}
.dashboard-table-data{
	/*width: 1100px !important;*/
	/*overflow-x: scroll;*/
}
.table-data-panel{
	/*overflow-y: scroll;*/
}
.ui-dialog {
    z-index: 9999;
}
.form-forward, .form-update-issue{
    padding: 5px 5px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
}
.form-update-issue #remarks{
    width: 480px;
}
.fixed-label{
	position: fixed;
}
.after-fixed-label{
	margin-top: 60px !important;
}
.high-priority-issue > tr:nth-child(2n+1) > td, .high-priority-issue > tr:nth-child(2n+1) > th{
	background-color: #A33 !important;
}
.high-priority-issue{
	background-color: #A33 !important;
}
.showback{
	margin-left: 4.11%;
	margin-right: 4.11%;
}
#project_select{
/*	float: left;
	width: 50%;*/
}
#project-details{
	margin-top: 25px;
/*	padding-left: 15px;*/
}
.float-left{
	float: left !important;
}
.float-right{
	float: right;
}
.table-section{
	margin-top: 15px;
}
.form-submit-success{
	padding-top: 25px;
}
#activity-name-select, #activity-details{
	margin-top: 25px;
}

.priority-color{
	min-width: 20px;
	padding: 5px 12px;
}
.issue-priority-5{
	background-color: #F62817 !important;
	color: #fff !important;
}
.issue-priority-4{
	background-color: rgba(246, 40, 23, 0.6) !important;
	color: #fff !important;
}
.issue-priority-3{
	background-color: rgba(246, 40, 23, 0.2) !important;
}
.issue-priority-2{
	background-color: #BDEDFF !important;
}
.issue-priority-1{
	background-color: #F0FFFF !important;
}
.monitor-table-row-issue{
    /*width: 160px;*/
}



.alert{
    margin-top: 10px;
}
#issue_log_message{
    max-width: 315px;
}
.site-footer{
    /*position: fixed;
    bottom: 0;
    width: 100%;*/
}


.select-option-default{
    margin-bottom: 8px;
}




.ds p > muted{
    font-size: 10px;
}
.ds .thumb{
    width: 10%;
    float: left;
    margin: 0px 10px;
}
.label-notification{
    border-radius: 0;
    white-space: normal;
}
.ds .details{
    width: 80%;
    float: right;
}
.dropdown-menu.inbox li a .message{
    white-space: normal;
}
.ds a {
    color: rgb(64, 145, 156);
}
.ds .desc {
    border-bottom: 2px solid #EAEAEA;
    border-left: 2px solid #EAEAEA;
}





.issue-resolve-map-lable-details{
    width: 100%;
}





.custom-row{
    margin-left: 0px;
    margin-right: 0px;
}
.header-label{
    font-size: 18px;
    padding-left: 10px;
    float: left;
}
.search-button{
    margin-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    padding-left: 10px;
    float: left;
    width: 30%; 
}
.search-column-select{
    width: 32%;
    float: left;
    margin-left: 10px;
}
.search-box{
    width: 32%;
    float: left;
    margin-left: 10px;
}

.click-id{
    display:none;
}
 
.click-id + label {
    display:inline-block;
    /*margin:-2px;*/
    padding: 4px 4px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    width: 99%;
}
 
.click-id:checked + label {
       background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#e0e0e0;
}










.inbox {
    max-height: 360px;
    /*overflow-y: scroll !important;*/
}
.inbox > li > a {
    white-space: normal;
}