/* Notice Page*/

.titleNotice {
  /* margin-top: 30px; */
  margin-bottom: 15px;
  color: var(--link-color);
  text-align: left;
  font: normal normal bold 15px/40px Open Sans;
  letter-spacing: 0px;
  color: #004ea2;
  opacity: 1;
  height: 20px;
}

.titleBoldNotice {
  margin-bottom: 35px;
  text-align: left;
  font: normal normal bold 15px/25px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  height: 20px;
}

.descriptionNotice {
  margin-bottom: 35px;
  text-align: left;
  font: normal normal 600 12px/25px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.editBtnNotice {
  background: var(--main) 0% 0% no-repeat padding-box;
  background: #162a31 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  width: 132px;
  height: 52px;
  position: absolute;
  right: 20px;
}

.downloadNotice {
  cursor: pointer;
  width: 39px;
  height: 39px;
  background: #343434 0% 0% no-repeat padding-box;
  border-color: #343434;
  border-radius: 5px;
  opacity: 1;
  float: right;
  margin-bottom: 10px;
}

.previewPdf {
  height: 500px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 5px;
  opacity: 1;
}

.marginBody {
  margin: 30px;
  width: 100%;
}

/* .fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  cursor: pointer;
} */

textarea.form-control {
  height: auto;
  color: #203b44;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d2e4;
  border-radius: 2px;
  padding: 12px 16px;
  border: 1px solid #ffcc3f;
}

.saveBtn {
  border-color: #004ea2;
  width: 125px;
  text-align: center;
  font: normal normal bold 15px/40px Segoe UI !important;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 20px;
  height: 50px;
  background: #004ea2;
  border-radius: 5px;
  position: absolute;
  right: 30px;
}

.attachedText {
  display: block;
  padding-left: 10px;
  height: 40px;
  background: #cbcbcb 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: left;
  font: normal normal normal 12px/40px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 30px;
}

.tbStyle {
  background: var(--main) 0% 0% no-repeat padding-box;
  background: #162a31 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 5px 5px 0px 0px;
  opacity: 1;
}

.tableNew {
  max-width: 100% !important;
  border-radius: 5px 5px 0px 0px;
}

.dataTables_scroll {
  margin-bottom: 15px !important;
}

.btn-danger {
  color: #fff !important;
  margin: 5px;
  border-radius: 5px;
  background-color: #ef172c;
  border-color: #ef172c;
}

.divAssngmnt {
  background-color: #00008b;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.mrgnLft {
  margin-left: 15px !important;
}

.noticeMoal {
  max-width: 700px !important;
}

.submmittedAlert {
  color: red;
  margin-top: 10px;
}

.txtWhite {
  color: white !important;
}

.flexExistedFile {
  flex: 0 0 80% !important;
}

.rmvButton {
  max-width: 20%;
  position: absolute;
  right: 10px;
  max-height: 40px;
  margin: 5px !important;
}

.saveBtnNew {
  background-color: #004ea2;
  height: 40px;
  box-shadow: 0px 3px 6px #00000029;
  border: none;
  border-radius: 5px;
  font: 13px Open Sans;
  cursor: pointer;
  padding: 0px 30px;
}

.approveButton {
  color: white;
  background-color: green;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.timesButton {
  background-color: red;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.shortMargin {
  margin: 5px !important;
}

.closeBtnn,
.closeBtnn:hover {
  margin-left: 10px !important;
  margin-top: 0px !important;
}

.optionWidth {
  max-width: 215px;
}

.btnClrWhite {
  color: white !important;
  margin: 0px !important;
  margin-top: 30px !important;
}
.submittedOver {
  cursor: not-allowed;
  opacity: 0.7;
}
.markEntry {
  max-width: 100px;
  margin: auto;
  display: block;
  text-align: center;
}
.statCard {
  font-weight: 700;
  font-size: 1rem;
  display: block;
  line-height: 1;
  margin: 1rem auto;
}

.text-primaryy {
  color: #162a31 !important;
  font-size: 1.2rem !important;
  font: bolder;
  margin: 0.3rem auto;
}
#dtTbl2 .fourth label.switch {
  position: relative;
}

#dtTbl2 td.fourth .switch-label {
  width: 160px;
  height: 40px;
  margin-bottom: -22px;
  padding-left: 20px;
}

#dtTbl2 td.fourth .switch-label:before,
#dtTbl2 td.fourth .switch-label:after {
  right: 20px;
}
select[name="dtTbl2_length"] {
  height: 35px;
}
#dtTbl2 .fourth label.switch {
  position: absolute;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 5px 10px;
  text-align: center;
}
#dtTbl2 td.fourth .switch-label {
  width: 180px;
  height: 40px;

  position: relative;
  display: block;
}
#dtTbl2 td.fourth .switch-label:before,
#dtTbl2 td.fourth .switch-label:after {
  right: 30px;
}
#dtTbl2 .fourth label.switch {
  position: absolute;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 5px 10px;
  text-align: center;
}

#dtTbl2 td.fourth .switch-label:before,
#dtTbl2 td.fourth .switch-label:after {
  right: 30px;
}

.btnClrWhite{
  cursor: pointer;
}
.btn-default.form__create {
  cursor: pointer;
}