<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		<!-- Bootstrap core CSS -->
		<link
		href="../assets/css/bootstrap.css" rel="stylesheet">
		<!--external css-->
		<link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="../assets/css/zabuto_calendar.css">
		<link rel="stylesheet" type="text/css" href="../assets/js/gritter/css/jquery.gritter.css"/>
		<link rel="stylesheet" type="text/css" href="../assets/lineicons/style.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/jquery-ui.min.css">
		<link
		href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

		<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
		<link
		rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>

		<!-- Bootstrap Date-Picker Plugin -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


		<!-- Custom styles for this template -->
		<link href="../assets/css/style.css" rel="stylesheet">

		<link href="../assets/css/custom.css" rel="stylesheet">

		<link href="../assets/css/style-responsive.css" rel="stylesheet">

		<script src="../assets/js/chart-master/Chart.js"></script>


	</head>
	<body>

		<section class="" id="container">
			{% include 'Includes/header.html.twig' %}
			{% include 'Includes/menu_sidebar.html.twig' %}

			<div class="container-fluid container-main">
				<div class="row">
					<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-10 col-md-8 col-sm-8"> {% block body %}{% endblock %}

						<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
						<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
						<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

						{# For data table #}
						{# <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script> #}
						<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
						<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.full.min.js"></script>
						<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


						{% block javascripts %}{% endblock %}


						{% include 'Includes/footer.html.twig' %}
