<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/fonts/circular-std/fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../../assets/libs/css/style.css">
    {#<link rel="stylesheet" href="../../../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">#}
    {#<link rel="stylesheet" href="../../../assets/vendor/charts/chartist-bundle/chartist.css">#}
    {#<link rel="stylesheet" href="../../../assets/vendor/charts/morris-bundle/morris.css">#}
    {#<link rel="stylesheet" href="../../../assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">#}
    {#<link rel="stylesheet" href="../../../assets/vendor/charts/c3charts/c3.css">#}
    {#<link rel="stylesheet" href="../../../assets/vendor/fonts/flag-icon-css/flag-icon.min.css">#}
    {#<link rel="stylesheet" href="../../../assets/libs/css/navbar-fixed-right.min.css">#}
    {#<link rel="stylesheet" href="../../../assets/libs/css/choices.min.css"> #}
    <link rel="stylesheet" type="text/css" href="../../../assets/libs/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/libs/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/libs/css/boxicons.min.css">
    <link rel="stylesheet" href="../../../assets/fa/css/fontawesome-all.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../../assets/libs/css/responsive.css">
    <link rel="stylesheet" href="../../../assets/css/styleNew.css">
    <link rel="stylesheet" href="../../../assets/css/chatPage.css">


    <title>Ateities</title>
</head>
<body>

    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->

        {% include 'Includes/header_new.html.twig' %}

        <!-- end navbar -->
        <!-- =============================================s================= -->


        <!-- left sidebar -->

        {% include 'Includes/left_menu.html.twig' %}

        <!-- end left sidebar -->


    <!--         <div class="container demo"> -->


        <!-- wrapper  -->
        {% block body %}{% endblock %}

            </div>
        </div>


      <!-- right sidebar -->

    {% include 'Includes/right_menu.html.twig' %}

          <!-- right sidebar end -->

    <!-- footer -->
 {% include 'Includes/footer_new.html.twig' %}

 {% block javascripts %}{% endblock %}
</body>

</html>

    <!-- end footer -->