{# {% extends 'base2.html.twig' %}


{% block title %}Header{% endblock %}

{% block body %}


Hello i am sheiblu

{% endblock %} #}


<!DOCTYPE html>
<html lang="en" style="background-color: #fff;">
	<head>
		<title>SymDoor</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../assets/vendor/fonts/circular-std/fonts.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../../../assets/libs/css/style.css">
		<link rel="stylesheet" href="../../../assets/fa/css/fontawesome-all.css">
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../../../assets/libs/css/responsive.css">

	</head>
	<body style="background: #fff;">
		<div id="inner-body-main-container">

			<div id="login-page">
				<div class="container">

					<form class="form-login" method="post" action="temp_login">
						{% for message in app.flashes('warning') %}
							<div class="alert alert-warning">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}

						<div class="form-group text-center">
							{#<h1 tabindex="0">Ateities</h1>#}
							<img class="cc_logo" src="../../../image/cc_logo.png" alt="">
						</div>

						<div class="form-group login-wrap">
							<input type="text" id="username" name="username" class="form-control input-lg" aria-placeholder="User Name" placeholder="User Name" autofocus >
						</div>
						<div class="form-group login-wrap">
							<input type="password" id="userpassword" name="userpassword" class="form-control input-lg" aria-placeholder="Password" placeholder="Password" autofocus>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-6">
									<label>
										<input type="checkbox" class="form-control" checked >
										<span class="checkmark"></span>
										Remember Me
									</label>
								</div>
								<div class="col-6 text-right">
									<a class="forgot" href="forget_password">Forgot?</a>
								</div>
							</div>
						</div>
						<div class="form-group submit-div">
							<button id="submit" name="submit" class="btn btn-theme btn-block btn-lg btn__login" type="submit">Login</button>
						</div>


					</form>

				</div>
			</div>


			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery-ui.min.js"></script>
			<script src="../assets/js/bootstrap.min.js"></script>

		</div>
	</body>
</html>
