{% extends 'base_test.html.twig' %}
{% block body %}
	<div class="dashboard-wrapper">
		<div class="dashboard-ecommerce pointing_layout">
			<div class="container-fluid dashboard-content ">

				<!-- page header  -->

				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
						<div class="page-header">
							<h2 class="pageheader-title lang" key="classes">
							All Orders
							</h2>
						</div>
					</div>
					<div class="col-lg-6 text-right">
						<button id="add-button" class="add__new__button" data-toggle="modal"
									data-target="#modalLoginForm" style="color: white;">+ Add New Order
							</button>

					</div>

					<div class="col-12">
						<hr>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						{% for message in app.flashes('warning') %}
							<div class="alert alert-warning">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						</div>
				</div>
			</div>
		</div>
	<!-- ============================================================== -->
	<!-- end pageheader  -->
	<!-- ============================================================== -->
	<div class="content-table-widget"> <!-- CONTENT -->
		<div class="col-md-12 col-sm-12 col-12">

				<table class="table display nowrap tbl__ptr--res" style="width:100%" id="dtTbl">

						<thead style="">
							<tr>
								<th scope="col">Order ID</th>
								<th scope="col">User Name</th>
								<th scope="col">Door Name</th>
								<th scope="col">Width</th>
								<th scope="col">Height</th>
								<th scope="col">Color</th>
								<th scope="col">Handle Side</th>
								<th scope="col">Order Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							{% set count = 1 %}
							{% for order in orders %}
								<tr>
									<td>{{ order.getID() }}</td>
									<td>{{ order.User().getFirstName() }}</td>
									<td>{{ order.Door().getTitle() }}</td>
									<td>{{ order.Door().getWidth() }}</td>
									<td>{{ order.Door().getHeight() }}</td>
									<td>{{ order.Door().getColor() }}</td>
									<td>{{ order.Door().getHandleSide() }}</td>
									<td>{{ order.getOrderStatus() }}</td>

									<td>
										<a type="button" id="{{ order.id }}" class="btn edit-button"  aria-label="edit"><i class="fas fa-edit"></i></a>

										<a type="button" class="btn delete-button" aria-label="delete" onclick="return confirm('Are you sure to delete?')" href="{{path('order_delete',{'id': order.id })}}">
											<i class="fas fa-trash"></i>
										</a>
									</td>


								</tr>
								{% set count = count + 1 %}
							{% endfor %}
						</tbody>
					</table>

		</div><!-- END CONTENT -->

	</div>
	<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="modalLoginForm" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">


				<div class="modal-body">

					<h3 class="modal-title w-100 font-weight-bold my-4 text-center">Add New Order</h3>


					<form method="POST" action="{{path('create_order')}}" id="insert_form">

						<div class="form-group col-12">
								<label for="door_id">Door</label>
								<select name="door_id" id="door_id"
										class="class-change form-control">
									<option value="" selected="selected">Select Door</option>
										{% for door in doors %}
											<option value="{{door.id}}">{{door.title()}}</option>
										{% endfor %}
								</select>
						</div>

						<div class="form-group col-12">
							<label for="status">Order Status</label>
							<select name="status" id="status" class="class-change form-control">
								<option value="In Progress">In Progress</option>
								<option value="On Delivery">On Delivery</option>
								<option value="Completed">Completed</option>
							</select>
						</div>

						<input name="id" id="id" type="hidden" value=""/>

						<button type="submit" class="btn btn-default form__create">Create Order</button>
						<button type="button" class="btn btn-success modal__close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">Discard</span>
						</button>



					</form>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
        $(document).ready(function() {
            $.validator.addMethod("checkOrder",
                function(value, element) {
                    var result = false;
                    $.ajax({
                        type:"GET",
                        async: false,
                        url: "/order/check_order/" + value,
                        success: function(msg) {
                            result = (msg == "exists") ? false : true;
                        }
                    });
                    return result;
                },
                "Orders already Exists. Please try again."
            );

            $('#insert_form').validate({
                rules: {
                    order: {
                        required: true,
                        checkOrder: true
                    },
                    width: {
                        required: true
                    },
                    height: {
                        required: true
                    }
                },
                messages:{
                    order:{
                        required: "Please enter Orders.",
                    },
                    width:{
                        required: "Please enter Width.",
                    },
                    height:{
                        required: "Please enter Height.",
                    }
                }
            });

			$('#add-button').click(function(){
				$(".modal-title").text("Add New Orders");
				$(".form__create").text("Create");
				$('#insert_form')[0].reset();

				$("label.error").hide();
				$(".error").removeClass("error");
			});

			$(document).on('click', '.edit-button', function(){
				var order_id = $(this).attr("id");
				$.ajax({
					url:"/order/edit_order",
					method:"GET",
					data:{order_id:order_id},
					dataType:"json",
					success:function(data){
						var obj = JSON.parse(data);
						$('#door_id').val(obj.door_id);
						$('#order_status').val(obj.order_status);
						$('#id').val(obj.id);
						$(".modal-title").text("Edit Orders");
						$(".form__create").text("Update");
						$('#modalLoginForm').modal('show');
					}
				});

				$("label.error").hide();
				$(".error").removeClass("error");
			});

        });
    </script>

<script>
	$('#modalLoginForm').modal({
    backdrop: 'static',
    keyboard: false
})
</script>

{% endblock %}