{% extends 'base_test.html.twig' %}
{% block body %}
	<div class="dashboard-wrapper">
		<div class="dashboard-ecommerce pointing_layout">
			<div class="container-fluid dashboard-content ">

				<!-- page header  -->

				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
						<div class="page-header">
							<h2 class="pageheader-title lang" key="classes">
							All Doors
							</h2>
						</div>
					</div>
					<div class="col-lg-6 text-right">
						{% if(app.session.get('UserType') == 2) %}
							<button id="add-button" class="add__new__button" data-toggle="modal"
									data-target="#modalLoginForm" style="color: white;">+ Add New Door
							</button>
						{% endif %}

					</div>

					<div class="col-12">
						<hr>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						{% for message in app.flashes('warning') %}
							<div class="alert alert-warning">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						</div>
				</div>
			</div>
		</div>
	<!-- ============================================================== -->
	<!-- end pageheader  -->
	<!-- ============================================================== -->
	<div class="content-table-widget"> <!-- CONTENT -->
		<div class="col-md-12 col-sm-12 col-12">

				<table class="table display nowrap tbl__ptr--res" style="width:100%" id="dtTbl">

						<thead style="">
							<tr>
								{#<th scope="col">#</th>#}
								<th scope="col">Title</th>
								<th scope="col">Width</th>
								<th scope="col">Height</th>
								<th scope="col">Color</th>
								<th scope="col">Handle Side</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							{% set count = 1 %}
							{% for door in doors %}
								<tr>
									{#<td>{{ count }}</td>#}
									<td>{{ door.getTitle() }}</td>
									<td>{{ door.getWidth() }}</td>
									<td>{{ door.getHeight() }}</td>
									<td>{{ door.getColor() }}</td>
									<td>{{ door.getHandleSide() }}</td>

									<td>
										<a type="button" id="{{ door.id }}" class="btn edit-button"  aria-label="edit"><i class="fas fa-edit"></i></a>

										<a type="button" class="btn delete-button" aria-label="delete" onclick="return confirm('Are you sure to delete?')" href="{{path('door_delete',{'id': door.id })}}">
											<i class="fas fa-trash"></i>
										</a>
									</td>


								</tr>
								{% set count = count + 1 %}
							{% endfor %}
						</tbody>
					</table>

		</div><!-- END CONTENT -->

	</div>
	<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="modalLoginForm" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">


				<div class="modal-body">

					<h3 class="modal-title w-100 font-weight-bold my-4 text-center">Add New Door</h3>


					<form method="POST" action="{{path('create_door')}}" id="insert_form">

						<div class="form-group">
							<label for="door">Door Title<span class="required">*</span></label>
							<input class="form-control" type="text" name="title" id="title" placeholder="Enter Door Title" required>
						</div>

						<div class="form-group">
							<label for="door">Width<span class="required">*</span></label>
							<input class="form-control" type="text" name="width" id="width" placeholder="Enter Width" required>
						</div>

						<div class="form-group">
							<label for="door">Height<span class="required">*</span></label>
							<input class="form-control" type="text" name="height" id="height" placeholder="Enter Height" required>
						</div>

						<div class="form-group col-12">
							<label for="status">Color</label>
							<select name="color" id="color" class="class-change form-control">
								<option value="Blue" selected="selected">Blue</option>
								<option value="Green">Green</option>
								<option value="Yellow">Yellow</option>
								<option value="White">White</option>
							</select>
						</div>

						<div class="form-group col-12">
							<label for="status">Handle Side</label>
							<select name="handle_side" id="handle_side" class="class-change form-control">
								<option value="Left" selected="selected">Left</option>
								<option value="Right">Right</option>
							</select>
						</div>

						<input name="id" id="id" type="hidden" value=""/>

						<button type="submit" class="btn btn-default form__create">Create</button>
						<button type="button" class="btn btn-success modal__close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">Discard</span>
						</button>



					</form>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
        $(document).ready(function() {
            $.validator.addMethod("checkDoor",
                function(value, element) {
                    var result = false;
                    $.ajax({
                        type:"GET",
                        async: false,
                        url: "/door/check_door/" + value,
                        success: function(msg) {
                            result = (msg == "exists") ? false : true;
                        }
                    });
                    return result;
                },
                "Door already Exists. Please try again."
            );

            $('#insert_form').validate({
                rules: {
                    door: {
                        required: true,
                        checkDoor: true
                    },
                    width: {
                        required: true
                    },
                    height: {
                        required: true
                    }
                },
                messages:{
                    door:{
                        required: "Please enter Door.",
                    },
                    width:{
                        required: "Please enter Width.",
                    },
                    height:{
                        required: "Please enter Height.",
                    }
                }
            });

			$('#add-button').click(function(){
				$(".modal-title").text("Add New Door");
				$(".form__create").text("Create");
				$('#insert_form')[0].reset();

				$("label.error").hide();
				$(".error").removeClass("error");
			});

			$(document).on('click', '.edit-button', function(){
				var door_id = $(this).attr("id");
				$.ajax({
					url:"/door/edit_door",
					method:"GET",
					data:{door_id:door_id},
					dataType:"json",
					success:function(data){
						var obj = JSON.parse(data);
						$('#title').val(obj.title);
						$('#width').val(obj.width);
						$('#height').val(obj.height);
						$('#color').val(obj.color);
						$('#handle_side').val(obj.handle_side);
						$('#id').val(obj.id);
						$(".modal-title").text("Edit Door");
						$(".form__create").text("Update");
						$('#modalLoginForm').modal('show');
					}
				});

				$("label.error").hide();
				$(".error").removeClass("error");
			});

        });
    </script>

<script>
	$('#modalLoginForm').modal({
    backdrop: 'static',
    keyboard: false
})
</script>

{% endblock %}