{% extends 'base2.html.twig' %}

{% block title %}Ateities!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style="text-align:center"> {{ controller_name }}! ✅</h1>


<form method="POST" action="{{path('create_subject')}}">
  <div class="form-group">
        <input name="subject" class="form-control" type="text" id="myInput" placeholder="Subject Name" />
  </div>      
        <button type="submit" class="btn btn-primary" >Add</button>
      </form>

</div>
{% endblock %}
