{% extends 'base2.html.twig' %}

{% block title %}Ateities!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1 style="text-align:center">
			{{ controller_name }}! ✅</h1>

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning">
				{{ message }}
			</div>
		{% endfor %}
		{# {% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %} #}

		<form method="POST" action="{{path('edit_subject')}}">
			<div class="form-group">
				<input name="subject" class="form-control" type="text" id="myInput" value="{{ subject.name }}" placeholder="Subject Name"/>
			</div>
			<input name="id" type="hidden" value="{{ subject.id }}"/>
			<button type="submit" class="btn btn-primary">Add</button>
		</form>

	</div>
{% endblock %}
