{% extends 'base_test.html.twig' %}


{% block body %}
<div class="dashboard-wrapper" style="background: #fafafa 0% 0% no-repeat padding-box;border: 1px solid #fff;">
	<div class="dashboard-container">
		<div class="container-fluid dashboard-content ">
			<!-- ============================================================== -->
			<!-- pageheader  -->
			<!-- ============================================================== -->
				<div class="row"> 
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-header">
						<h2 class="pageheader-title lang" key="classes">
							Notice Board
						</h2>
						<!--  <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p> -->
						<div class="page-breadcrumb" style="max-width: 100%;">
							<nav aria-label="breadcrumb" style="margin-bottom: 45px;">
								<ol class="breadcrumb">
									<li class="breadcrumb-item lang" key="classConnect">
										<a href="/" class="breadcrumb-link">Ateities</a>
									</li>
									<li class="breadcrumb-item active lang" key="adminDashboard" aria-current="page">Admin Dashboard</li>

									<li class="breadcrumb-item active lang" key="classes" aria-current="page"> Subject</li>
									<li class="breadcrumb-item active lang" key="classes" aria-current="page"> Edit Subject</li>
								</ol>
							</nav>

{% for message in app.flashes('warning') %}
			<div class="alert alert-warning">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- end pageheader  -->
	<!-- ============================================================== -->
		<div
		class="content-table-widget"> <!-- CONTENT -->
		<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" style="max-width: 100%;border-radius: 5px 5px 0px 0px;margin-top: -80px;">
			<div class="card" style="max-width: 100%;">

            <form method="POST" action="{{path('edit_subject')}}">
			<div class="form-group">
				<input name="subject" class="form-control" type="text" id="myInput" value="{{ subject.name }}" placeholder="Subject Name"/>
			</div>
			<input name="id" type="hidden" value="{{ subject.id }}"/>
			<button type="submit" class="btn btn-primary">Edit</button>
		</form>
	</div>
				</div></div><!-- END CONTENT -->




{% endblock %}

{% block javascripts %}
	
	<script>
	$(document).ready( function () {
	$.noConflict();
	var table = $('#example').DataTable();
	} );
	</script>
    
{% endblock %}
