{% extends 'base2.html.twig' %}

{% block title %}Ateities!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1 style="text-align:center">
			{{ controller_name }}! ✅</h1>

		<div class="row">
			<div class="col-10"></div>
			<div class="col-2">
				<a href="{{path('subject_create')}}">
					<button type="button" class="btn btn-success">Add Subject</button>
				</a>
			</div>
		</div>

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{% if ( subjects|length > 0)  %}

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% set count = 1 %}
					{% for subject in subjects %}
						<tr>
							<th scope="row">
								{{ count }}</th>
							<td>{{ subject.name }}
							</td>
							<td>

								<a href="{{path('subject_edit',{'id': subject.id })}}">
									<button type="button" class="btn btn-success">Edit</button>
								</a>

								<a onclick="return confirm('Are you sure to delete?')" href="{{path('subject_delete',{'id': subject.id })}}">
									<button type="button" class="btn btn-danger">Delete</button>
								</a>
							</td>
						</tr>
						{% set count = count + 1 %}
					{% endfor %}
				</tbody>
			</table>

		{% endif  %}

	</div>
{% endblock %}
