{% extends 'base_test.html.twig' %}
{% block body %}
	<div class="dashboard-wrapper" style="background: #fafafa 0% 0% no-repeat padding-box;border: 1px solid #fff;">
		<div class="dashboard-container">
			<div class="container-fluid dashboard-content ">
				<!-- ============================================================== -->
				<!-- pageheader  -->
				<!-- ============================================================== -->
				<div class="row"> <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-header">
						<h2 class="pageheader-title lang" key="classes">
						Subject
						</h2>
						<!--  <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p> -->
						<div class="page-breadcrumb" style="max-width: 100%;">
							<nav aria-label="breadcrumb" style="margin-bottom: 45px;">
								<ol class="breadcrumb">
									<li class="breadcrumb-item lang" key="classConnect">
										<a href="/" class="breadcrumb-link">Ateities</a>
									</li>
									<li class="breadcrumb-item active lang" key="adminDashboard" aria-current="page">Admin Dashboard</li>
									<li class="breadcrumb-item active lang" key="classes" aria-current="page">Subject</li>
								</ol>
							</nav>
							{% for message in app.flashes('warning') %}
								<div class="alert alert-warning">
									{{ message }}
								</div>
							{% endfor %}
							{% for message in app.flashes('success') %}
								<div class="alert alert-success">
									{{ message }}
								</div>
							{% endfor %}
							<input class="Search" type="text" placeholder="Search here" style="margin-right: 15px;margin-bottom: 30px;">
							<br>
							<!-- Start -->
							<!-- End -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- end pageheader  -->
	<!-- ============================================================== -->
	<div
		class="content-table-widget"> <!-- CONTENT -->
		<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" style="max-width: 100%;border-radius: 5px 5px 0px 0px;margin-top: -80px;">
			<div class="card" style="max-width: 100%;">
				{% if ( subjects|length > 0)  %}
					<table class="table" id="example">
						<thead style="">
							<tr class="card-header" style="background: var(--main) 0% 0% no-repeat              padding-box;
								background: #162A31 0% 0% no-repeat padding-box;
								border: 1px solid #707070;
								border-radius: 5px 5px 0px 0px;
								opacity: 1;">
								<th scope="col" style="border-radius: 0px 0px 0px 0px;color: white; ">#</th>
								<th scope="col" style="border-radius: 0px 0px 0px 0px;color: white; ">Name</th>
								<th scope="col" style="border-radius: 0px 0px 0px 0px;color: white;">Action</th>
							</tr>
						</thead>
						<tbody>
							{% set count = 1 %}
							{% for subject in subjects %}
								<tr>
									<td style="color: black;">{{ count }}</td>
									<td style="color: black;">{{ subject.name }}</td>
									
									<td>
										<a href="{{path('subject_edit',{'id': subject.id })}}">
											<button type="button" class="btn btn-success">Edit</button>
										</a>
										<a onclick="return confirm('Are you sure to delete?')" href="{{path('subject_delete',{'id': subject.id })}}">
											<button type="button" class="btn btn-danger">Delete</button>
										</a>
									</td>
									
									
									
								</tr>
								{% set count = count + 1 %}
							{% endfor %}
						</tbody>
						
						
					{% endif  %}
					
					</table></div></div><!-- END CONTENT -->
					
					<div class="addC">
						{% if(app.session.get('UserType') == 2) %}
							<a href="" data-toggle="modal" data-target="#modalLoginForm" style="color: white;">+ Add New Subject</a>
						{% endif %}
					</div>
				</div>
				<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header text-center">
					<h4 class="modal-title w-100 font-weight-bold">Add New Subject</h4>
					
					<form method="POST" action="{{path('create_subject')}}">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
						<div class="modal-body mx-3">
							<!-- <div class="Search"> -->
							<input class="Search" type="text" name="subject" placeholder="Title" style="width: 300%;max-width: 300%;padding-top: 5px;" required>
							
							
							<!-- </div> --></div>
							<div class="modal-footer d-flex justify-content-center">
								<button type="submit" class="btn btn-default">Add</button>
							</div>
						</form>
					</div></div></div></div>
				{% endblock %}
				{% block javascripts %}
					
					<script>
					$(document).ready( function () {
					$.noConflict();
					var table = $('#example').DataTable();
					} );
					</script>
					
				{% endblock %}